name: Create diagram
on:
  workflow_dispatch: {}
  push:
    branches:
      - Yufan_AMD_test
jobs:
  get_data:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Update diagram
        uses: githubocto/repo-visualizer@main
        with:
          excluded_paths: ""
          output_file: "images/diagram.svg"
          root_path: "library_frame/"
